.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #111;
  color: white;
}

.logo a {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.search input {
  width: 300px;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.nav-links a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #00c2ff;
}